### Django ###

# Database
#*.sqlite3 # Allow database files now because its a pain to migrate
media

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
.venv/
env/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Other
*.log
*.pot
*.pyc
local_settings.py
